<!-- Modal -->
<div class="modal fade"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Редактировать заказ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
          <div class="mb-3">
            <label for="editProductName" class="form-label">Название продукта: </label>
            <input id="editProductName" [(ngModel)]="editOrder.productName" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="editDiscount" class="form-label">Акции: </label>
            <input id="editDiscount" [(ngModel)]="editOrder.discount" type="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button class="btn btn-primary" (click)="save()" data-bs-dismiss="modal">Сохранить</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="mb-3">
    <label for="productName" class="form-label">Название продукта: </label>
    <input id="productName" type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label for="discount" class="form-label">Акции: </label>
    <input id="discount" type="number" class="form-control">
  </div>
  <button class="btn btn-primary" (click)="add()">Добавить заказ</button>
</div>

<div class="container mt-5">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <td>Наименование продукта</td>
      <td>Акции</td>
      <td>Действие</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders; let idx = index">
      <td>{{order.productName}}</td>
      <td>{{order.discount}}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle"
                  type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
              <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z"/>
              <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" href="#">
                <button class="btn btn-link"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        (click)="editOrder = getCopy(order)">Редактировать</button>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <button class="btn btn-link"
                        (click)="delete(order.productName)">Удалить</button>
              </a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
